.Navbar {
    height: var(--AppNavbarHeight);
    background: var(--AppNavbarBackgroundDark);
    display: flex;
    padding: 10px 15px;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
}
.Logo {
    height: 90%;
    & > img {
        height: 100%;
    }
}
.Nav {
    height: 90%;
    margin: 0 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.UserItem {
    background: rebeccapurple;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px 0 0;
    border-radius: 5em;
    line-height: 1.5;
    height: 100%;
    font-size: 10px;
    margin-left: 10px;
}
.NavItem {
    color: #fff;
    background: rgb(49, 49, 49);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    border-radius: 5em;
    line-height: 1.5;
    height: 100%;
    font-size: 10px;
    margin-left: 10px;
}
.Profile {
    height: 100%;
}
.ProfilePic {
    height: 100%;
    padding: 2px;
    margin: 0 5px 0 0;
    border-radius: 5em;
}